mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  min-width: 300px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  position: fixed;
  background-color: rgba(0 , 0, 0, 0.32);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2000;
}
